# ARQUIVO TEMPLATE (Seguro para o Git)

# =======================================
# BANCO DE DADOS RELACIONAL (MySQL)
# =======================================

spring.datasource.username=logistica_user
spring.datasource.password=SUA_SENHA_AQUI
spring.datasource.url=jdbc:mysql://localhost:3306/projeto_logistica?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=America/Sao_Paulo&allowPublicKeyRetrieval=true

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
# spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQLDialect

# =======================================
# BANCO DE DADOS NoSQL (Redis Local)
# =======================================
spring.data.redis.host=localhost
spring.data.redis.port=6379
spring.data.redis.password=
spring.data.redis.ssl.enabled=false

# =======================================
# SERVIDOR WEB (Tomcat)
# =======================================
server.port=8080

server.servlet.encoding.charset=UTF-8
server.servlet.encoding.enabled=true
server.servlet.encoding.force=true